$white: #ffffff;
$black: #000000;
$dark: #1c1c1c;
$gray: #b0acac;
$middle-grey: #767676;
$brand: #15b28d;
$brand-brighter: #0dd1a2;
$correct: #1dc04b;
$error: #f97676;
$facebook: #1877f2;
$twitter: #1da1f2;
$yellow: #ffe81f;
